/tmp/

scraped_datasets/fb_posts/KQZ_POSTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_posts/DEBAT_PLUS_POSTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_posts/KLAN_KOSOVA_POSTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_posts/NACIONALE_POSTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_posts/INDEKS_ONLINE_POSTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_posts/KANAL_10_POSTS_PREPROCESSED_DATASET.csv

scraped_datasets/fb_comments/KQZ_COMMENTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_comments/DEBAT_PLUS_COMMENTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_comments/KLAN_KOSOVA_COMMENTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_comments/NACIONALE_COMMENTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_comments/INDEKS_ONLINE_COMMENTS_PREPROCESSED_DATASET.csv
scraped_datasets/fb_comments/KANAL_10_COMMENTS_PREPROCESSED_DATASET.csv